# Dependencies
node_modules

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Logs
logs
*.log
npm-debug.log*

# Docker
docker-compose.override.yml

# IDE
.vscode
.idea

# OS Files
.DS_Store
Thumbs.db

# Prisma (Don't ignore)
# prisma/

# Documentation
README.md