NODE_ENV=production
PORT=3000

DATABASE_URL=postgresql://<USERNAME>:<PASSWORD>@postgres:5432/rateLimiter

REDIS_URL=redis://redis:6379

BUCKET_TTL=3600

MAX_CAPACITY=50000
MAX_REFILL_RATE=1000

LOG_LEVEL=info